@namespace xul url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);
#main-window[tabsintitlebar="true"]:not([extradragspace="true"]) #TabsToolbar {
  opacity: 0;
  pointer-events: none;
}
#TabsToolbar {
    visibility: collapse;
  }
#sidebar-box[sidebarcommand="treestyletab_piro_sakura_ne_jp-sidebar-action"] #sidebar-header {
  display: none;
}
#sidebar {
  min-width: 100px !important;
}
